@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap);
@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url(/fonts/icomoon.eot?68c59617804cdb81af1a0013a9111bd3);
  src: url(/fonts/icomoon.eot?68c59617804cdb81af1a0013a9111bd3) format("embedded-opentype"), url(/fonts/icomoon.ttf?6c9e1ff8a3191a3cdff42e6a1c948ec0) format("truetype"), url(/fonts/icomoon.woff?40d020ce925b369ac696fb16af0a7be2) format("woff"), url(/images/icomoon.svg?6f4e70df8d3fe9c406ff25a7ba801332) format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=honda__icon],
[class*=honda__icon] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.honda__icon-jateng:before {
  content: "";
}

.honda__icon-community:before {
  content: "";
}

.honda__icon-gunungan:before {
  content: "";
}

.honda__icon-home:before {
  content: "";
}

.honda__icon-jateng_gunungan:before {
  content: "";
}

.honda__icon-news:before {
  content: "";
}

.honda__icon-product:before {
  content: "";
}

.honda__icon-service:before {
  content: "";
}

@-webkit-keyframes fadeDown {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}

@keyframes fadeDown {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes fadeTop {
  from {
    bottom: -50%;
  }
  to {
    bottom: 0;
  }
}
@keyframes fadeTop {
  from {
    bottom: -50%;
  }
  to {
    bottom: 0;
  }
}
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #2B2B2B;
}

.header {
  height: 150px;
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  background-image: url(/images/header_bg.jpg?08f83315ac480958ee66670c93b84376);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  height: 80px;
  width: 100%;
  display: block;
  padding: 1rem;
  box-sizing: border-box;
}
.navigation .menus {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .navigation .menus {
    display: flex;
  }
}
.navigation .menus .menu a {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  margin: 2% 1%;
  transition: 0.3s all;
}
.navigation .menus .menu a span {
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}
.navigation .menus .menu a span.text {
  font-size: clamp(.75rem, 2.5vw, 1rem);
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 0.275rem;
}
.navigation .menus .menu a .feather {
  width: 1rem;
  height: 1rem;
}
.navigation .menus .menu a:hover {
  color: #E61B33;
}
.navigation.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  box-shadow: 0 5px 20px #00000023;
  -webkit-animation: fadeDown 0.5s forwards;
          animation: fadeDown 0.5s forwards;
  z-index: 9999;
}

.banner {
  transition: 0.3s all;
}
.banner img {
  width: 100%;
}

.footer {
  height: 685px;
  width: 100%;
  padding: 3rem 10% 1rem;
  position: relative;
  display: block;
  background-image: url(/images/footer_bg.jpg?684e3f14fa6db2bacdc8a2feffc5f02a);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.footer .honda__icon-jateng_gunungan {
  font-size: 12rem;
}

main {
  padding: 2rem 0;
}

h1.header__text {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 300;
  font-size: 2.5rem;
  color: #E61B33;
  text-align: center;
}

.label {
  padding: 0.5rem 1rem;
  background: #E61B33;
  color: #FFF;
  border-radius: 5px;
}

.card {
  padding: 1.875rem;
  border-radius: 8px;
}
.card.product__card {
  display: block;
  position: relative;
  border-radius: 0;
}
.card.product__card .label {
  position: absolute;
  left: 1rem;
  top: 0.875rem;
}
.card.product__card .product__image {
  margin-bottom: 0.2rem;
}
.card.product__card .product__image img {
  width: 80%;
  transition: 0.3s all;
  margin: auto;
}
.card.product__card .product__name {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 1.375rem;
}
.card.product__card .product__price {
  font-size: 1.5rem;
  font-weight: 700;
  opacity: 0.8;
}
.card.product__card.odd {
  background-color: #F6F6F6;
}
.card.product__card.even {
  background-color: #F0F0F0;
}
.card.product__card:hover .product__image img {
  transform: scale(1.1);
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
}

.text-half-opacity {
  opacity: 0.5;
}

.navigation__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navigation__tabs .button {
  position: relative;
  display: block;
  opacity: 0.8;
  padding: 0 0.875rem;
  transition: 0.3s all;
  cursor: pointer;
}
.navigation__tabs .button.active {
  opacity: 1;
}
.navigation__tabs .button.active a {
  font-weight: 700;
}
.navigation__tabs .button.active:after {
  content: "";
  position: absolute;
  left: 0.875rem;
  bottom: 0rem;
  height: 3px;
  width: 30%;
  background-color: #2B2B2B;
}

.honda__icon-jateng_gunungan.heading_text {
  font-size: 7rem;
}

.honda__icon-jateng.heading_text {
  font-size: 4rem;
}
